<div class="container">
  <% ctr = 4 %>
  <% @subjects.each do |subject| %>
    <% if ctr  % 12 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-4">
      <%= form_for @teacher_subject, url: teacher_subjects_path, method: :post, remote: true, html: { style: "display:inline;" } do |f| %>
        <h3><%= subject.subject_code %></h3>
        <p><%= subject.name %></p>
        <p><%= subject.description %></p>
        <%= f.hidden_field :subject_id, value: subject.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <% assigned = TeacherSubject.exists?(subject_id: subject.id, user_id: current_user.id) %>
        <% teacher_subject = TeacherSubject.find_by_subject_id_and_user_id(subject.id, current_user.id) %>
            <%= f.submit "Assign", class: "btn btn-primary #{'disabled' if assigned}" %>
            <% delete_path = '#' %>
            <% if assigned %>
              <% delete_path = teacher_subject_path(teacher_subject) %>
            <% end %>
            <%= link_to "Unassign", delete_path, method: :delete, remote: true, class: "btn btn-danger #{'disabled' unless assigned}" %>
      <% end %>
    </div>
    <% if ctr  % 12 == 0 %>
      <% ctr+=4 %>
      </div>
    <% end %>
  <% end %>
</div>